<h1>Register</h1>
<div class="messages">
    <% if (message) { %>
        <%= message %>
    <% } %>
</div>
<form action="./register" method="POST">
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Submit</button>
</form>
<a href="./login">Login</a>