<section class="error">
    <div class="container flex">
        <div class="card bg-light flex flex-colum">
            <h1>Error 400: Bad Request!</h1>
            <h2>There was an error with your request :(</h2>
            <h2>If this issue keeps happening you can contact me <a href="mailto:contact@filipedev.xyz">here</a></h2>
            <p><a href="/">You can go back to the homepage here</a></p>
        </div>
    </div>
</section>
